.main{
  width: 500px;
  margin: auto;
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.main button{
  padding: 10px 15px;
  margin: 20px;
}
.main span{
  font-size: 25px;
}